*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

nav {
  background-color: rgba(199, 119, 15, 0.767);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.main__form {
  width: 25rem;
  max-width: 100%;
  margin: 3rem auto;
  text-align: right;
}
.main__form-container label,
.main__form-container input {
  display: block;
  margin-top: 0.6rem;
  font-size: 2rem;
  width: 100%;
}
.main__form-container {
  text-align: left;
}
.main__form-container input,
.main__form-container textarea {
  font-size: 1.3rem;
  height: 3rem;
  outline: none;
  border: 2px solid rgba(223, 165, 89, 0.767);
}
.main__form-container textarea {
  width: 100%;
  height: 15rem;
}
.main__form-container input:focus {
  border: 2px solid rgba(112, 75, 25, 0.767);
}

.main-nav__items {
  list-style: none;
}
.main-nav__item,
.main-nav__item button {
  font-size: 1.7rem;
  color: #fff;
  background-color: transparent;
  border: none;
  display: inline-block;
}
.main-nav__item button {
  cursor: pointer;
  outline: none;
}

.main-nav__item a:link,
.main-nav__item a:visited {
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.5rem;
}
.main-nav__item button {
  background-color: none;
}

.main-nav__item a:hover {
  background-color: rgba(167, 100, 14, 0.767);
}
.active a {
  background-color: rgba(167, 100, 14, 0.767);
}

.btn {
  text-align: right;
  font-size: 1.6rem;
  margin-top: 1rem;
  outline: none;
  padding: 0.8rem 3rem;
  color: #fff;
  border: none;
  background-color: rgba(199, 119, 15, 0.767);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgba(124, 75, 11, 0.767);
}
.blog {
  list-style: none;
}
.blog li {
  font-size: 1.5rem;
  width: 70%;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.527), -4px -4px 8px rgb(235, 235, 235);
  border-radius: 1rem;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
