<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <%-include('includes/navegation')%>
    <h1>Blog</h1>
    <ul class="blog">
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae velit
        fugit, porro eos in repudiandae deserunt. Dignissimos impedit facere
        iure voluptate illo. Quas ullam rem id, natus harum recusandae deserunt
        architecto vel quae laborum, tempore deleniti quis? Veritatis tempore
        sequi sapiente quisquam est, itaque similique temporibus inventore
        officia labore iusto excepturi ad earum sit laborum recusandae enim
        maiores voluptas quasi consequuntur culpa nesciunt. Sapiente expedita et
        beatae tempore illum velit fugiat ducimus.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae velit
        fugit, porro eos in repudiandae deserunt. Dignissimos impedit facere
        iure voluptate illo. Quas ullam rem id, natus harum recusandae deserunt
        architecto vel quae laborum, tempore deleniti quis? Veritatis tempore
        sequi sapiente quisquam est, itaque similique temporibus inventore
        officia labore iusto excepturi ad earum sit laborum recusandae enim
        maiores voluptas quasi consequuntur culpa nesciunt. Sapiente expedita et
        beatae tempore illum velit fugiat ducimus.
      </li>
    </ul>
  </body>
</html>
