<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Blog</a></li>
      </ul>
      <ul class="auth">
        <li><a href="/">Sign In</a></li>
        <li><a href="/">Sign Up</a></li>
      </ul>
    </nav>
    <form class="form" action="/" method="POST">
      <div class="main_form">
        <div class="email">
          <label>Email</label>
          <input type="email" name="email" />
        </div>
        <div class="password">
          <label>Password</label>
          <input type="password" name="password" />
        </div>
      </div>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
