<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <%-include('includes/navegation')%>
    <form class="main__form" action="/login" method="POST">
      <div class="main__form-container">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="main__form-container">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button class="btn" type="submit">Sigh In</button>
      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    </form>
  </body>
</html>
