<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <%-include('includes/navegation')%>
    <form class="main__form" action="/signup" method="POST">
      <div class="main__form-container">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="main__form-container">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="main__form-container">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="main__form-container">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" id="confirm" />
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </body>
</html>
